<% @page_title = @user ? @user.name : "Members' Article" %>
<h1><%= @page_title %></h1>

	<% @articles.each do |article| %>
	<p><%= link_to article.title, article_path(article) %></p>
	<% end %>

	<% if current_user %>
	<p><%= link_to "make an new article", new_article_path %></p>	
	<% else %>
	<%=link_to "Login", new_user_path %>
<%end %>
