@charset "utf-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	width: 100%;
}

.header_wrapper{
padding-left: 15px;
padding-right: 15px;
border: dotted;
border-bottom: solid 1px #dddddd;
}

.header	{
	margin-bottom: 20px;	
}

.header h1 {
	line-height: 1;
}


div.box1{
	width: auto;
	float: left;
}

div.box2{
	width: auto;
	float: right;
	position: relative;
}

div.box3{
	float: right;
	width: 50%;
}

/** Within box2 **/
div.box2-1{
	display: block !important;
	width: auto;
}

div.box2-1 ul {
	float: right;
	margin: 0;
	padding:0;
	list-style: none;
	width: auto;
}

div.box2-1 ul li{
	float: left;
	width: auto;
}

div.box2-1 li a	{display: block;
	padding: 10px 15px;
	color: #000000;
	font-size: 20px;
	text-decoration: none}

div.box2-1 ul.nav_menu li a:hover	{
	background-color: #eeeeee;
}


/** within box3 **/
.signin_form, .signed_in {
	margin-right: 0px;
	width: auto;
}

span{
	padding-right:2px;
}

input[type="text"], input[type="password"]{
	width: 25%;
	margin: 0;
	padding: 0;
}


/* clear fix **/
.cf{
	zoom:1;
}

.cf:after{
	content:"";
	display: table;
	clear:both;
}
@media screen and (min-width:1024px){
	.header{
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
}